/*Scrollbar Styles*/
.box::-webkit-scrollbar {
    width: 5px;
}
.box::-webkit-scrollbar-track {
    background-color: transparent;
}
.box::-webkit-scrollbar-thumb {
    background-color: rgb(210, 210, 216);
    border: none;
    border-radius: 20px;
}

/*Global Styles*/
body{
    background-color: #4e497a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    font-family: 'Plus Jakarta Display', sans-serif;
    color: #a095f9;
    font-size: 3em;
}

h3{
    font-family: 'Plus Jakarta Display',sans-serif;
    font-size: 3em;
    color: #fff;
}

p{
    font-family: 'Roboto Regular';
    font-size: 2em;
    color: #fff;
}

a{
    height: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Regular';
    font-size: 20px;
}

button{
    margin: 0 0 20px 0;
    background-color: #33304f;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    color: #fff;
}

button:hover{
    color: black;
    background-color: rgb(231, 144, 231);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/*Generic Style for Horizontal Bars*/
.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.form-group{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}

.form label{
    font-size: 18px;
    color: rgb(18, 32, 46);
}

input, textarea, select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
}

input:focus{
    outline: none;
}

svg{
    width: 100%;
    height: 100%;
}


/*Specific Styles for our classes*/

.main-content{
    padding: 30px;
    width:80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
}

#search{
    margin-top: 10px;
    width: 55%;
    height: 50%;
}

#go{
    width: 20%;
    height: 50%;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #33304f;
}

#go:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

#add {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 70%;
    margin-top: 20px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    text-wrap: wrap;
}

.action-task{
    width: 20%;
    height: 100%;
}

.delete {
    margin-right: 10px;
    width: 30%;
    height: 100%;
}

.delete svg:hover{
    fill: red;
}

.ver{
    width: 70%;
}

.ver:hover{
    color: rgb(28, 44, 59);
}